* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #767c77;
    background-color: #ebd5c0;
}

/*navbar*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #767c77;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.logo {
    position: relative;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-weight: 650;
    cursor: default;
    letter-spacing: 5px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    flex: 1;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideUP .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #9cada4;
    text-decoration: underline;
}

/*home*/

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 120vh;
    background-color: #ebd5c0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 10% 0 0;
}

.home-content {
    max-width: 600px;
 margin-left: 80px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h4 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    margin-bottom: 30px;

}

.home-content h5 {
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-content h5 span {
    color: #767c77;
    font-size: 20px;
    font-weight: 400;
}

.home-content h5:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid #9cada4;
    border-radius: 50%;
    font-size: 25px;
    color: #9cada4;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #9cada4;
    color: #000;
    box-shadow: 0 0 20px #9cada4;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #9cada4;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-box:hover {
    box-shadow: 0 0 5px #ebd5c0, 0 0 25px #ebd5c0, 0 0 50pc #ebd5c0, 0 0 100px #ebd5c0, 0 0 200px #ebd5c0;
}

.img {
    display: inline-block;
    right: 10%;
    bottom:10%;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    opacity: 0;
    animation: slideUP 1s ease forwards;
    animation-delay: 1s;
}

.responsive {
    width: 350px;
    height: 450px;
    border-bottom-left-radius: 251%;
    border-bottom-right-radius: 251%;
    border-top-left-radius: 251%;
    border-top-right-radius: 251%;
}

@media (max-width: 768px) {
     .home {
        flex-direction: column; /* ✅ Stack image and text vertically */
        align-items: center; /* ✅ Center content */
        text-align: left; /* ✅ Align text centrally */
    }
 
    .responsive {
        width: 80%; 
        height: 80%; /* Reduces size on smaller screens */
    }

    .img {
        position: center;
    }

}

/*about*/

.about {
    background-color: #9cada4;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 25px 5% 25px 0;
}

.about-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-right: 5%;
    padding-left: 15%;
    width: 100%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    /*margin-top: 7.5%;*/
    opacity: 1;
}

.abt-res {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
    border-radius: 25px;
    /*box-shadow: 0 0 5pc #ebd5c0, 0 0 5px #ebd5c0, 0 0 10px #ebd5c0;*/
    border: #767c77 5px solid;
}

.about-text {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 12%;
    margin-bottom: 12%;

}

.about-text h2 {
    font-size: 60px;
    letter-spacing: 5px;
    
}

.about-text h2 span {
    color: #081b29;
}

.about-text paragraph {
    color: #767c77;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.right-content {
    grid-column: 2; /* Make sure it is placed in the second column */
    margin-left: -100px; /* Moves it further left */
}

@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr; /* Switch to one column */
        padding: 50px 5%;
    }

    .about-img {
        position: center;
        order: -1; /* Moves the image above the text */
        width: 80%; /* Reduces size on smaller screens */
    }

    .about-text h2 {
        font-size: 40px; /* Reduce text size */
    }

    .about-text paragraph {
        font-size: 16px;
    }
     .right-content {
        margin: 0 auto;
    }
}

.abtbtn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #767c77;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.abtbtn-box:hover {
    box-shadow: 0 0 5px #ebd5c0, 0 0 25px #ebd5c0, 0 0 50pc #ebd5c0, 0 0 100px #ebd5c0, 0 0 200px #ebd5c0;
}


/*projects*/
#Projects{
    background-color: #ebd5c0;
}
.main-text {
    padding-top: 25px;
    margin-top: 5px;
    padding-bottom: 50px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding: 50px;
    padding-bottom: 110px;
}

.main-text h2 span {
    color: #767c77;
}

.serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, auto));
    align-items: center;
    justify-content: space-around;
}

.row {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px;
    overflow: hidden;
}

.row img {
    width: 350px;
    height: auto;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
    padding: 10px;
}

.layer {
    width: 390px;
    height: auto;
    opacity: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), #9cada4);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.layer h6 {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}


.layer p {
    color: #9cada4;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    text-align: justify;
}

.layer i {
    color: #9cada4;
    margin-top: 10px;
    font-size: 12px;
    background: #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.01);
}

.row:hover .layer {
    height: 100%;
    opacity: 1;
}



/*contacts*/

.contacts {
    display: grid;
    /*grid-template-columns: repeat (2, 1fr);*/
    align-items: center;
    gap: 3rem;
    padding: 40px;
    padding-top: 70px;
    justify-content: center;
    background-color: #000;
}

.contact-text {
    align-content: center;
}

.contact-text h2 {
    font-size: 60px;
    line-height: normal;
    text-align: center;

}

.contact-text h2 span {
    color: #9cada4;
}

.contact-text h4 {
    margin-top: 15px;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

/*.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}*/
.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    letter-spacing: 2px;
}

.contact-list i {
    display: inline-block;
    color: #9cada4;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    padding: 10px;
}


.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9cada4;
    border-radius: 50%;
    font-size: 20px;
    color: #9cada4;
    text-decoration: none;
    margin: 0px 0px 0px 15px;
    opacity: 1;
}

.contact-icons i:hover {
    background: #9cada4;
    color: #000;
    box-shadow: 0 0 20px #9cada4;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #000;
    font-weight: 300;
    margin-top: 0px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    left: 1rem;
    display: flex;
    opacity: 0;
    transition: all .4s;
}

.top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.top i{
    color: #767c77;
    background: #9cada4;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i:hover {
    box-shadow: 0 0 5px #ebd5c0,
    0 0 25px #ebd5c0, 0 0 50px #ebd5c0,0 0 200px #ebd5c0;
}



@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 180;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 140;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 90;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUP {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 900px) and (min-width: 700px) {
    .header{
        display:block;
    }
    .logo {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 25px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 10px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }
    
}

@media (max-width: 700px) and (min-width: 400px) {
    *{
        overflow-x: hidden;
        overflow-y: inherit;
    }
    /*navbar*/
    .header{
        display:block;
        
    }
    .logo {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 15px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 10px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }

    /*home*/
    .home{
        align-items: normal;
        padding-top: 40%;
        padding-bottom: 0;
    }
    .home-content h1 {
        font-size: 40px;
        font-weight: 600;
    }
    
    .home-content h3 {
        font-size: 30px;
        font-weight: 300;
    }
    
    .home-content h4 {
        font-size: 18px;
        font-weight: 200;
    }
    
    .home-content h4 span {
        font-size: 18px;
        font-weight: 200;
    }
    .img{
        max-width: 400px;
        position: relative;
        left: -10%;
        top: 2%;
        padding-bottom: 30px;
        padding-left: 0;
        margin-left: 0;
    }
    .btn-box:hover {
        box-shadow: 0 0 5px #ebd5c0, 0 0 10px #ebd5c0, 0 0 15pc #ebd5c0, 0 0 20px #ebd5c0, 0 0 25px #ebd5c0;
    }
    /*about*/
    .about{
        padding-bottom: 20px;
        min-height: auto;
    }
    .about-text h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .about-text p {
        font-size: 15px;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 4rem;
        text-align: left;
    }
    .abtbtn-box:hover {
        box-shadow: 0 0 5px #ebd5c0, 0 0 10px #ebd5c0, 0 0 15pc #ebd5c0, 0 0 20px #ebd5c0, 0 0 25px #ebd5c0;
    }

    /*skills*/
    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "75%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }

    /*project*/
    .main-text {
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 50px;
    }
    .main-text h2 {
        font-size: 50px;
        padding-bottom: 15px;
    }
    .layer p {
        line-height: normal;
    }
    /*charity*/
    .sub-title {
        font-size: 50px;
        padding-bottom: 50px;
    }
    .prj-list div{
        padding: 20px;
    }
    /*contact*/
    .contacts h2{
        font-size: 50px;
    }
    .contact-list i{
        font-size: 15px;
        padding: 5px 5px 0 0;
    }
    
    .top{
        position: fixed;
        bottom: 2rem;
        left: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        opacity: 0;
        transition: all .4s;
    }
    
}

@media (max-width: 400px) {
    *{
        overflow-x: hidden;
    }
    .header{
        display:block;
    }
    .logo {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .logo::after{
        content: "\a";
        white-space: pre;
    }
    .navbar a {
        font-size: 13px;
        font-weight: 200;
        margin-left: 0px;
        padding: 10px 4px 0 0;
    }
    .navbar a::after{
        content: "\a";
        white-space: pre;
    }

    /*home*/
    .home{
        width: 100%;
        align-items: normal;
        padding-top: 40%;
        padding-bottom: 0;
    }
    .home-content h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .home-content h3 {
        font-size: 20px;
        font-weight: 300;
    }
    
    .home-content h4 {
        font-size: 15px;
        font-weight: 200;
    }
    
    .home-content h4 span {
        font-size: 15px;
        font-weight: 200;
    }
    .btn-box:hover {
        box-shadow: 0 0 5px #ebd5c0, 0 0 10px #ebd5c0, 0 0 15pc #ebd5c0, 0 0 20px #ebd5c0, 0 0 25px #ebd5c0;
    }
    .img{
        max-width: 300px;
        position: relative;
        left: -10%;
        top: 2%;
        padding-bottom: 30px;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    /*about*/
    .about{
        padding-bottom: 20px;
        min-height: auto;
    }
    .about-text h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .about-text p {
        font-size: 15px;
        line-height: normal;
        letter-spacing: 0px;
        margin-bottom: 4rem;
        text-align: left;
    }
    .abtbtn-box:hover {
        box-shadow: 0 0 5px #ebd5c0, 0 0 10px #ebd5c0, 0 0 15pc #ebd5c0, 0 0 20px #ebd5c0, 0 0 25px #ebd5c0;
    }

    /*skills*/
    .subtitle{
        font-size: 50px;
        text-align: center;
    }
    .container1 {
        width: 600px;
        max-height: 500px;
        padding: 20px;
        margin-left: 50px;
    }
    .container2 {
        width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 0px;
    }
    .radial-bar .text{
        left: 25%;
    }
    .bar .info .addhtml::before{
        content: "90%";
    }
    .bar .info .addcss::before{
        content: "80%";
    }
    .bar .info .addpy::before{
        content: "75%";
    }
    .bar .info .addjava::before{
        content: "50%";
    }
    .bar .info .addc::before{
        content: "50%";
    }

    /*project*/
    .main-text {
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 50px;
    }
    .main-text h2 {
        font-size: 50px;
        padding-bottom: 15px;
    }
    .layer p {
        line-height: normal;
    }

    /*service*/
    .sub-title {
        font-size: 50px;
        padding-bottom: 50px;
    }

    /*contact*/
    .contacts h2{
        font-size: 50px;
    }
    .contact-list i{
        font-size: 13px;
        padding: 5px 5px 0 0;
    }
    
    .top{
        position: fixed;
        bottom: 2rem;
        left: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        opacity: 0;
        transition: all .4s;
    }
    .top i{
        color: #000;
    }
}
